!!! 5
%head
  %meta{ :charset => "utf-8" }/
%body
  %p Name:
  = @contact.name
  %br/

  %p Email:
  = @contact.email
  %br/

  %p Phone:
  = @contact.phone
  %br/

  %p Subject:
  = @contact.subject
  %br/

  %p Message:
  = @contact.message

