!!! 5
%head
  %meta{ :charset => "utf-8" }/
%body
  %p Name:
  %br/
  = @contact.name

  %p Email:
  %br/
  = @contact.email

  %p Phone:
  %br/
  = @contact.phone

  %p Subject:
  %br/
  = @contact.subject

  %p Message:
  %br/
  = @contact.message

